DATABASE_URL=postgresql+psycopg://postgres.odmvmkildzwsxgbyxdhi:[Insert Password Without Brackets]@aws-0-us-west-2.pooler.supabase.com:5432/postgres?sslmode=require
GOOGLE_CLIENT_ID=
JWT_SECRET_KEY=
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=60
